@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 1, 10, 25;
  --foreground: #fff;
  --foreground-muted: #80848c;
  --accent: rgba(255, 255, 255, 0.125);
  --accent-foreground: rgba(255, 255, 255, 1);
  --popover: #000;
}

body {
  color: var(--foreground);
  background: rgb(var(--background));
  font-family: var(--font-roboto-condensed), Arial, Helvetica, sans-serif;
}
